<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Timeline</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/new_style.css">
    </head>   
   
   <body>
        <center><h1 style="font-family:courier; color:dimgray">Welcome to the "Time Linear:Interactive". Click a button to select a time period.</h1></center>
        <div class="timeline">
            <form method = "POST" action = "/2000">
                <center><button class="btn btn-light" type="submit" name="first">2000</button></center>
            </form>
            
            <form method = "POST" action = "/2001">
                <center><button class="btn btn-primary btn-lg" type="submit" name="second">2001</button>
            </form>
            
            <form method = "POST" action = "/2002">
                <center><button class="btn btn-light" type="submit" name="third">2002</button>
            </form>
            
            <form method = "POST" action = "/2003">
                <center><button class="btn btn-primary btn-lg" type="submit" name="fourth">2003</button>
            </form>
            
            <form method = "POST" action = "/2004">
                <center><button class="btn btn-light" type="submit" name="fifth">2004</button>
            </form>
            
            <form method = "POST" action = "/2005">
                <center><button class="btn btn-primary btn-lg" type="submit" name="sixth">2005</button>
            </form>
            
            <form method = "POST" action = "/2006">
                <center><button class="btn btn-light" type="submit" name="seventh">2006</button>
            </form>
            
            <form method = "POST" action = "/2007">
                <center><button class="btn btn-primary btn-lg" type="submit" name="eighth">2007</button>
            </form>
            <form method = "POST" action = "/2008">
                <center><button class="btn btn-light" type="submit" name="ninth">2008</button>
            </form>
            
            <form method = "POST" action = "/2009">
            <center><button class="btn btn-primary btn-lg" type="submit" name="tenth">2009</button></center>
            </form>
            <form method = "POST" action = "/2010">
            <center><button class="btn btn-light" type="submit" name="eleventh">2010</button></center>
            </form>
            <form method = "POST" action = "/2011">
            <center><button class="btn btn-primary btn-lg" type="submit">2011</button></center>
            </form>
            <form method = "POST" action = "/2012">
            <center><button class="btn btn-light" type="submit">2012</button></center>
            </form>
            <form method = "POST" action = "/2013">
            <center><button class="btn btn-primary btn-lg" type="submit">2013</button></center>
            </form>
            <form method = "POST" action = "/2014">
            <center><button class="btn btn-light" type="submit">2014</button></center>
            </form>
            <form method = "POST" action = "/2015">
            <center><button class="btn btn-primary btn-lg" type="submit">2015</button></center>
            </form>
            <form method = "POST" action = "/2016">
            <center><button class="btn btn-light" type="submit">2016</button></center>
            </form>
            <form method = "POST" action = "/2017">
            <center><button class="btn btn-primary btn-lg" type="submit">2017</button></center>  
        </div>
  </body>
    
    
    
</html>