<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/DT.png" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Donald Trump<i class="material-icons right"></i></span>
        <p><a href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">Visit New York Times</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>After a divisive election season, Donald Trump officially became the 45th President of the United States on January 20, 2017. In a 16-minute inaugural address (the shortest since Jimmy Carter‘s in 1977), Trump repeated his “America First” campaign slogan in which he delivered a dark-toned nationalist, populist message.</p>
      </div>
    </div>        
  </body>
</html>