<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/Hillary.jpg" width = "20">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Hillary R. Clinton<i class="material-icons right"></i></span>
        <p><a href="https://www.nytimes.com/2000/11/08/politics/hillary-clinton-elected-to-senate-from-new-york.html">Visit New York Times</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>Hillary Rodham Clinton is elected to be apart of the US senate, becoming first US First Lady to win public office.</p>
      </div>
    </div>        
  </body>
</html>