<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/nm.jpeg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Nelson Mandela<i class="material-icons right"></i></span>
        <p><a href="https://www.nelsonmandela.org/">Visit Nelson Mandela</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p> Nelson Mandela, who led the emancipation of South Africa from white minority rule and served as his country’s first black president, becoming an international emblem of dignity and forbearance, died Thursday night. He was 95.The South African president, Jacob Zuma, announced Mr. Mandela’s death. Mr. Mandela had long said he wanted a quiet exit, but the time he spent in a Pretoria hospital this summer was a clamor of quarreling family, hungry news media, spotlight-seeking politicians and a national outpouring of affection and loss. The vigil eclipsed a visit by President Obama, who paid homage to Mr. Mandela but decided not to intrude on the privacy of a dying man he considered his hero.</p>
      </div>
    </div>        
  </body>
</html>