  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/TwinTowers.jpg" width = "20">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">9/11<i class="material-icons right"></i></span>
        <p><a href="https://www.nytimes.com/2017/09/11/opinion/911-medical-examiner-16-years.html">Visit New York Times</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>The September 11 attacks (also referred to as 9/11), were a series of four coordinated terrorist attacks by the Islamic terrorist group al-Qaeda against the United States on the morning of Tuesday, September 11, 2001. The attacks killed 2,996 people, injured over 6,000 others, and caused at least $10 billion in infrastructure and property damage.</p>
       </div>
    </div>  
        <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/DNA.jpg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Human Genome Sequence Revealed<i class="material-icons right"></i></span>
        <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3656720/">Visit NCBI</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>The human genome sequence and the preliminary analysis result were revealed on February 12 jointly by scientists from China, Japan, Germany, France, Britain, and the United States, and Celera Genomics, a U.S. company. The human genome was proved to contain some 30,000 to 40,000 genes consisting of 3.2 billion alkali base pairs. This was another major step in exploring the mystery inside the human being. It was estimated that the work of mapping the entire human genome can be finished by the year 2003.</p> 
      </div>
    </div> 
  </body>
      </div>
    </div>        
  </body>
</html>
  </body>
</html>