<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:35%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/AdamAir.jpg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Flight 574<i class="material-icons right"></i></span>
        <p><a href="https://www.nytimes.com/2007/01/30/world/asia/30iht-adam.4408040.html">Visit New York Time</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>Adam Air Flight 574 disappears over Indonesia with 102 people on board</p>
      </div>
    </div>  
        <div class="card" style = "width:35%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/Firstphone.jpg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">iPhone released<i class="material-icons right"></i></span>
        <p><a href="https://www.macworld.com/article/1054769/smartphones/iphone.html">Visit Mac World</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>On January 9, 2007, Steve Jobs announced iPhone at the Macworld convention, receiving substantial media attention. Jobs announced that the first iPhone would be released later that year. On June 29, 2007, the first iPhone was released.</p>
      </div>
    </div> 
  </body>
