<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/reddit.png" width = "20">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Reddit Launches<i class="material-icons right"></i></span>
        <p><a href="https://en.wikipedia.org/wiki/Timeline_of_Reddit">Visit Wikipedia</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>Reddit is an American social news aggregation, web content rating, and discussion website. Registered members submit content to the site such as links, text posts, and images, which are then voted up or down by other members. Reddit was founded by University of Virginia roommates Steve Huffman and Alexis Ohanian in 2005. Condé Nast Publications acquired the site in October 2006. As of February 2018, Reddit had 542 million monthly visitors (234 million unique users), ranking as the #3 most visited website in U.S. and #6 in the world.</p>
       </div>
       </div>
       <div class="card" style = "width:25%">
      
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/HurricaneKatrina.jpg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Hurricane Katrina<i class="material-icons right"></i></span>
        <p><a href="https://www.macworld.com/article/1054769/smartphones/iphone.html">Visit Mac World</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>Early in the morning on August 29, 2005, Hurricane Katrina struck the Gulf Coast of the United States. When the storm made landfall, it had a Category 3 rating on the Saffir-Simpson Hurricane Scale–it brought sustained winds of 100–140 miles per hour–and stretched some 400 miles across. </p>
      </div>
    </div> 
  </body>
</html>




