<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/Pop.jpg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Population<i class="material-icons right"></i></span>
        <p><a href="https://www.nationalgeographic.com/magazine/2011/01/7-billion-population/">Vist National Geographic</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>The world population reaches 7 billion inhabitants according to the United Nations.</p>
      </div>
    </div>        
  </body>
</html>
