<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/rover.jpg" width = "20">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Mars Rover Lands on Mars<i class="material-icons right"></i></span>
        <p><a href="https://www.nasa.gov/centers/dryden/news/Features/2004/marsrover24Jan.html">Visit NASA</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>NASA's twin robot geologists, the Mars Exploration Rovers, launched toward Mars on June 10 and July 7, 2003, in search of answers about the history of water on Mars. They landed on Mars January 3 and January 24 PST, 2004 (January 4 and January 25 UTC, 2004). The Mars Exploration Rover mission is part of NASA's Mars Exploration Program, a long-term effort of robotic exploration of the red planet. Primary among the mission's scientific goals is to search for and characterize a wide range of rocks and soils that hold clues to past water activity on Mars. The spacecraft are targeted to sites on opposite sides of Mars that appear to have been affected by liquid water in the past. The landing sites are at Gusev Crater, a possible former lake in a giant impact crater, and Meridiani Planum, where mineral deposits (hematite) suggest Mars had a wet past.</p>

     </div>
    </div>  
        <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/Socks.png" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">The Boston Red Socks Win the World Series<i class="material-icons right"></i></span>
        <p><a href="http://www1.cbn.com/sports/red%2C-white%2C-and-cursed">Visit CBN</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>2004 Boston Red Sox "The End of a Curse", New, "The End of a Curse" is part of Daniel Duffy's "The Road to the World Series" Collection, referencing "The Curse Of The Bambino", breaking the clubs 86 year championship drought.</p>
      </div>
    </div> 
  </body>
  </body>
</html>