<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="css/new_style.css">
    </head>
  <body>
    <div class= "container">
    <div class="card" style = "width:25%">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/ebola.jpg" width = "60">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">The Ebola Disease<i class="material-icons right"></i></span>
        <p><a href="https://www.cdc.gov/vhf/ebola/history/2014-2016-outbreak/index.html">Visit CDC</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">More<i class="material-icons right"></i></span>
        <p>The deadliest outbreak of Ebola, a deadly hemorrhagic fever, started in West Africa in the spring of 2014 and began to spread rapidly in late summer. Most of the epidemic was contained in three countries -- Guinea, Sierra Leone and Liberia -- though there have been cases in confirmed in at least five other countries, including two diagnosed in the United States.</p>
      </div>
    </div>        
  </body>
</html>
